<!DOCTYPE html>
<html lang="en">
<head>
<%- include("./partials/head") %>
    <title>Your Blogs</title>
</head>
<body>
    <%- include("./partials/nav") %>

<div class="container mt-4">

<h2>Your Blogs</h2>

<div class="row row-cols-1 row-cols-md-3 g-4">

<% blogs.forEach(blog => { %>

<div class="col">

<div class="card h-100">

<img src="<%= blog.coverImage %>" class="card-img-top" style="height:220px; object-fit:cover;">

<div class="card-body">

<h5><%= blog.title %></h5>

<a href="/blog/<%= blog._id %>" class="btn btn-primary">Read</a>

<a href="/blog/edit/<%= blog._id %>" class="btn btn-warning">Edit</a>

<form action="/blog/delete/<%= blog._id %>" method="POST">
<button class="btn btn-danger mt-2">Delete</button>
</form>

</div>

</div>

</div>

<% }) %>

</div>

</div>
</body>
</html>